body {
    background-color: rgb(238, 247, 253);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#titulo-index {
    background-color: #122673;
    display: flex;
    gap: 10px;
    justify-content: left;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    color: #ddd;
}

#img-uniube {
    max-width: 70px;

}

nav {
    background-color: #122673;
    padding: 10px;
    color: #ddd;
}

#menu-principal {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu-principal li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#caixa-confirmacao {
    width: 150px;
    height: 100px;
}

#verificar-mes {
    width: 150px;
    height: 100px;
}

#calculo {
    width: 150px;
    height: 100px;
}

#lista {
    width: 150px;
    height: 100px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: lightgray;
    width: 700px;
    margin: 0 auto;
}

footer {
    background-color: #122673;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    font-size: 0.9em;
}